[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "lib/maverick"]
	path = lib/maverick
	url = https://github.com/roguefinance/maverick
[submodule "lib/solidity-examples"]
	path = lib/solidity-examples
	url = https://github.com/LayerZero-Labs/solidity-examples
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/maverick-protocol"]
	path = lib/maverick-protocol
	url = https://github.com/roguefinance/maverick-protocol
[submodule "lib/ERC4626-Contracts"]
	path = lib/ERC4626-Contracts
	url = https://github.com/ERC4626-Alliance/ERC4626-Contracts
